<mat-form-field class="w-100" appearance="outline">
    <mat-label>Diario de la norma</mat-label>
  <input matInput [formControl]="control" [matAutocomplete]="auto" (blur)="onTouched()" />

  @if(control.enabled){
  <mat-icon matSuffix class="d-flex justify-content-center align-items-center cursor-pointer" (click)="clean()">
    <i-tabler name="x" class="icon-15 d-flex justify-content-center align-items-center"></i-tabler>
  </mat-icon>
  }

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName" (optionSelected)="onSelected($event)">
    @for(item of filteredItems; track item.code) {
    <mat-option [value]="item">
      {{ item.description }}
    </mat-option>
    }
  </mat-autocomplete>
  @if (control.hasError('required')) {
  <mat-error class="f-s-12">Elemento requerido. *</mat-error>
  }
</mat-form-field>

<!-- <form #form="ngForm">
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Diario de la norma</mat-label>
    <input type="text" placeholder="Buscar diario de la norma" aria-label="Diario de la norma" matInput id="gazette"
      name="gazette" [formControl]="control" [matAutocomplete]="TypeAuto" [matTooltip]="selectedItem()?.description" />
    <mat-icon matSuffix class="d-flex justify-content-center align-items-center cursor-pointer" (click)="clean()">
      <i-tabler name="x" class="icon-15 d-flex justify-content-center align-items-center"></i-tabler>
    </mat-icon>
    <mat-autocomplete autoActiveFirstOption #TypeAuto="matAutocomplete" [displayWith]="displayName"
      (optionSelected)="onSelected($event)">
      @for(gazette of filteredItems(); track gazette.code) {
      <mat-option [value]="gazette">
        {{ gazette.description }}
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form> -->