::ng-deep .mat-mdc-form-field-infix {
    display: flex;
}

.password-popover {
  border-radius: 8px;
  background: #fff;
  border: 1px solid #ddd;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
  padding: 10px;
  max-width: 220px;
}


