<div class="row p-x-15">
  <mat-card class="shadow-none b-1 rounded p-15 col-xl-12">
    <div class="d-flex row justify-content-between m-l-0 m-r-0 p-b-15">
      <h4>Ejercicios</h4>
      <tabler-icon name="calculator" class="m-r-5"></tabler-icon>
    </div>
    <mat-card class="shadow-none b-1 rounded p-15">
      <mat-card-content>
        <mat-accordion multi="false">
          @for (ex of exercises; track ex.id) {
            <mat-expansion-panel class="shadow-none b-1">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <span class="f-w-600">{{
                    ex.description || 'Sin descripción'
                  }}</span>
                </mat-panel-title>
                <mat-panel-description>
                  {{ ex.type.description }} |
                  {{ ex.questions_type.description }}
                </mat-panel-description>
              </mat-expansion-panel-header>

              <div class="row">
                <div class="col-md-4">
                  <p>
                    <strong>Total preguntas:</strong> {{ ex.questions_number }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <strong>Total parte general:</strong>
                    {{ ex.generalQuestNum }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <strong>Total parte específica:</strong>
                    {{ ex.specificQuestNum }}
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <p>
                    <strong>Tiempo por pregunta:</strong>
                    {{ ex.time_per_question }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p><strong>Puntos Totales:</strong> {{ ex.totalPoints }}</p>
                </div>
                <div class="col-md-4">
                  <p>
                    <strong>Puntos para aprobar:</strong> {{ ex.pointsToPass }}
                  </p>
                </div>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <p>
                    <strong>Penalización por pregunta:</strong> 1/{{
                      ex.penalty
                    }}
                  </p>
                </div>
                <div class="col-md-4">
                  <p>
                    <strong>Tiempo por pregunta:</strong>
                    {{ ex.time_per_question }} segundos
                  </p>
                </div>
              </div>

              <mat-action-row>
                <button
                  mat-mini-fab
                  class="bg-secondary text-white"
                  matTooltip="Editar"
                  aria-label="Editar"
                  (click)="update(ex)"
                >
                  <i-tabler name="pencil" class="icon-20 d-flex"></i-tabler>
                </button>
                <button
                  mat-mini-fab
                  class="bg-error text-white m-l-10"
                  matTooltip="Eliminar"
                  aria-label="Eliminar"
                  (click)="remove(ex.id)"
                >
                  <i-tabler name="trash" class="icon-20 d-flex"></i-tabler>
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          }
        </mat-accordion>
        <!-- <div class="table-responsive">
            <div>
              Aquí irá la tabla
            </div>
            <mat-divider></mat-divider>
            <mat-paginator [pageSizeOptions]="[5, 8, 10]" showFirstLastButtons></mat-paginator>
          </div> -->
      </mat-card-content>
    </mat-card>
    <div class="w-50">
      <button
        mat-flat-button
        (click)="create()"
        class="bg-light-primary text-primary m-l-0"
      >
        <div class="d-flex align-items-center">
          <tabler-icon name="plus" class="m-r-5"></tabler-icon>
          <span class="mt-3"> Añadir ejercicio</span>
        </div>
      </button>
    </div>
  </mat-card>
</div>
