<div class="row">
    <!-- card -->
    <mat-card class="shadow-none bg-white overflow-hidden">
      <div class="p-30 p-b-0">
        <div class="row justify-content-between">
          <div class="col-lg-8">
            <mat-card-subtitle class=" m-t-16 lh-24 m-b-24"
              > {{ bannerText }}</mat-card-subtitle
            >
          </div>
          <div class="col-sm-4">
          <img src="/assets/images/breadcrumb/emailSv.png" width="250px" />

          </div>
        </div>
      </div>
    </mat-card>
</div>
