<mat-card class="cardWithShadow overflow-hidden">
  <div class="bg-{{ course.colour }} text-white p-y-10 p-x-24 d-flex justify-content-between align-items-center">
    <mat-card-title class="d-flex align-items-center gap-10">
      <a (click)="goBack()" mat-icon-button class="text-white d-flex justify-content-center">
        <i-tabler name="chevron-left" class="icon-18 d-flex"></i-tabler>
      </a>
      {{ course.description }}
    </mat-card-title>
    
    <div class="d-flex start-course align-items-center">
      <button class="text-white" mat-icon-button (click)="goToCourseSillabus()" matTooltip="Ver temario">
        <i-tabler name="eye" class="icon-18"></i-tabler>
      </button>
      <button class="text-white m-r-10" mat-icon-button (click)="goToCourseDetails()" matTooltip="Empezar/reanudar">
        <i-tabler name="player-play" class="icon-18"></i-tabler>
      </button>
      <i-tabler class="icon-20 m-l-5" [matTooltip]="'Avance: '+percentage().toString() +'%'" [name]="'percentage-'+percentage().toString()" ></i-tabler>
    </div>
  </div>
  <div class="general-actions d-flex align-items-center gap-10 p-3 justify-content-end p-r-15">
    <button mat-icon-button class="text-muted" (click)="addToFavorites()" [matTooltip]="favourite ? 'Quitar de favoritos' : 'Aádir a favoritos'">
      <i-tabler [name]="favourite ? 'star-filled' : 'star'" class="icon-18"></i-tabler>
    </button>
    <button mat-icon-button class="text-muted" matTooltip="Compartir curso" [cdkCopyToClipboard]="url" (click)="shareCourse()">
      <i-tabler name="share" class="icon-18"></i-tabler>
    </button>
    <button mat-icon-button class="text-muted" (click)="joinUnjoinCourse()" [matTooltip]="joined ? 'Abandonar curso' : 'Unirse al curso'">
      <i-tabler [name]="joined ? 'user-x' : 'user-check'" class="icon-18"></i-tabler>
    </button>
  </div>
</mat-card>