<mat-card class="cardWithShadow">
  <mat-card-header>
    <mat-form-field appearance="outline" class="w-100 hide-hint m-t-16">
      <mat-label>Buscar tema</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filtrar" />
    </mat-form-field>
  </mat-card-header>
  <mat-divider class="m-t-15"></mat-divider>
  <mat-card-content class=" course-topics h-100">
    <div class="table-responsive-sm ">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows>
        <ng-container matColumnDef="description" sticky class="mat-column-description">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-x-24 p-l-0"> Descripción </th>
          <td mat-cell *matCellDef="let topic" class="p-x-24 f-s-14 p-l-0">
            {{ topic.name }}: {{ topic.description }}
          </td>
        </ng-container>

        <ng-container matColumnDef="section">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-x-24 p-l-0"> Sección </th>
          <td mat-cell *matCellDef="let topic" class="p-x-24 f-s-14 p-l-0">
            {{ topic.section?.name || 'N/A' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 f-s-14 p-x-24 p-l-0"> Categoría </th>
          <td mat-cell *matCellDef="let topic" class="p-x-24 f-s-14 p-l-0">
            {{ topic.section?.category?.name || 'Sin categoría' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let topic">
            <button mat-icon-button aria-label="expand row"
              (click)="expandedElement = expandedElement === topic ? null : topic; $event.stopPropagation()">
              @if(expandedElement !== topic) {
              <mat-icon>keyboard_arrow_down</mat-icon>
              } @if(expandedElement === topic) {
              <mat-icon>keyboard_arrow_up</mat-icon>
              }
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let topic" [attr.colspan]="columnsToDisplay.length">
            <div [@detailExpand]=" topic === expandedElement ? 'expanded' : 'collapsed'"  style="width: 100%;">
              <div class="p-15 rounded b-1 m-b-16 m-x-18">
                <div class="d-flex align-items-center gap-12">
                  <span
                    class="bg-light-primary text-primary icon-48 rounded f-w-600 d-flex align-items-center justify-content-center">
                    {{ topic.id }}
                  </span>
                  <div>
                    <div class="f-s-14 f-w-600 ">
                      {{ topic.name }}
                    </div>
                  </div>
                </div>
                <mat-nav-list>
                  @for(block of topic.blocks; track block.id) {
                    <mat-list-item>
                      <span matListItemTitle>{{ block.description }}</span>
                    </mat-list-item>
                  }
                </mat-nav-list>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand; sticky: true"></tr>
        <tr mat-row *matRowDef="let topic; columns: columnsToDisplayWithExpand" class="example-topic-row"
          [class.example-expanded-row]="expandedElement === topic"
          (click)="expandedElement = expandedElement === topic ? null : topic"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>