@if(course) {
<app-course-header [percentage]="courseProgress()?.courseProgress || 0" [course]="course" ></app-course-header>

<mat-card class="cardWithShadow">
  <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="file-invoice" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        Descripción General
      </ng-template>
      <mat-card-content >
        <!-- <div class="row">
            <p>Aquí irá la descripción general del curso así como su contenido</p>
          </div> -->
          <mat-accordion>
            @for( topic of topics; track topic.id ) {
              <mat-expansion-panel class="cardWithShadow" (opened)="setStep(topic.id)" hideToggle> 
                <mat-expansion-panel-header>
                  <mat-panel-title class="f-w-600"> {{ topic.section?.name }} </mat-panel-title>
                  <mat-panel-description class="f-s-12 row-sb">
                    {{topic.description.substring(0,50)}}...
                    <div >

                      <mat-icon class="m-l-auto m-r-8" matTooltip="Empezar estudio del tema" (click)="goToTopicContent(course.id,topic.id)">
                        <i-tabler name="player-play" class="icon-20"></i-tabler>
                      </mat-icon>
                      @if(courseProgress()){
                        <mat-icon class="m-l-auto m-r-8" [matTooltip]="'Avance: '+topic?.progress?.toString() +'%'">
                          <i-tabler [name]="'percentage-'+topic?.progress?.toString()" class="icon-20" [class]="topic?.progress === 100 ? 'text-success' : (topic?.progress || 0) > 0 ? 'text-primary' : ''"></i-tabler>
                        </mat-icon>
                      }
                    </div>
                  </mat-panel-description>
                </mat-expansion-panel-header>
  
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h6 class="f-s-16"> {{topic.description }} </h6>
                  </div>
                </div>
                @if(topic.blocks && topic.blocks.length > 0) {
                  <mat-divider class="row m-t-16"></mat-divider>
                  <div class="row m-t-16">
                    <div class="col-lg-12 col-sm-12">
                      @for( block of topic.blocks; track block.id ) {
                        <mat-list>
                          <mat-list-item >
                            <!-- <span matListItemTitle class="f-s-16 f-w-600 col-lg-12 col-sm-12"> {{ block.description }} </span> -->
                            <span matListItemLine class="f-s-14 col-lg-12 col-sm-12 text-wrap">{{ block.description }}</span>
                          </mat-list-item>
                        </mat-list>
                      }
                    </div>
                  </div>
                }
                <mat-action-row>
                  <button mat-flat-button color="warn" (click)="prevStep()">
                    Previous
                  </button>
                  <button mat-flat-button color="primary" (click)="nextStep()">
                    Next
                  </button>
                </mat-action-row>
              </mat-expansion-panel>
            }
          </mat-accordion>
      </mat-card-content>
    </mat-tab>
    <!-- Instructor/es -->
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="user" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        Instructor/es
      </ng-template>
      <mat-card-content>
        <div class="row">
          <mat-card>
            <mat-card-content>
              <p>Aquí irá la información genral relativa al/a los instructor/es</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-card-content>
    </mat-tab>
    <!-- Anuncios -->
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="bell-ringing" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        <p>
          Anuncios
        </p>
      </ng-template>
      <mat-card-content>
        <div class="row">
          <p>Aquí irán los anuncios del curso</p>
        </div>
      </mat-card-content>
    </mat-tab>
    <!-- Reseñas -->
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="heart-star" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        <p>
          Reseñas
        </p>
      </ng-template>
      <mat-card-content>
        <app-reviews [featureType]="featureType" [featureId]="courseId"></app-reviews>
      </mat-card-content>
    </mat-tab>
    <!-- Dudas y respuestas -->
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="message-circle-question" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        <p>
          Dudas y respuestas
        </p>
      </ng-template>
      <mat-card-content>
        <app-comments [featureType]="featureType" [featureId]="courseId"></app-comments>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>
}