<div class="profileContent">
  @if(user){
  <div class="profileCard">
    <mat-card class="cardWithShadow overflow-hidden">
      <img mat-card-image src="assets/images/backgrounds/profilebg.jpg" alt="Profile Cover" class="w-100" />

      <div class="row align-items-center">
        <div class="col-lg-4 order-1">
          <div class="d-flex align-items-center gap-15 justify-content-start m-24">
            <div class="text-center">
              <tabler-icon class="icon-20 m-b-4" name="school"></tabler-icon>
              <h6 class="mb-0 f-s-21 f-w-500">{{ user.courses?.length || 0 }}</h6>
              <p class="m-y-0 f-s-14">Cursos</p>
            </div>
            <div class="text-center">
              <tabler-icon class="icon-20 m-b-4" name="user-check"></tabler-icon>
              <h6 class="mb-0 f-s-21 f-w-500">{{ user.students?.length || 0 }}</h6>
              <p class="m-y-0 f-s-14">Estudiantes</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-2">
          <div class="profile-img-container text-center m-t--48">
            <div class="profile-border-bg d-flex align-items-center justify-content-center rounded-circle m-x-auto">
              <div class="profile-border d-flex align-items-center justify-content-center rounded-circle">
                <img [src]="user.image" class="profile-pic rounded-circle w-100 h-100 object-cover" alt="user" />
              </div>
            </div>
            <div class="text-center m-t-2">
              <h4 class="f-s-18 f-w-600">{{ user.full_name }}</h4>
              <p class="m-y-0">{{ user.brief_description }}</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 order-3">
          <div class="d-flex align-items-center justify-content-end gap-15 social-btns m-15">
            @if(socialMedias.length > 0){
            @for(media of socialMedias; track media.id){
            <a [href]="media.href" target="_blank" rel="noopener noreferrer">
              <button mat-mini-fab class="{{media.brand.style}} icon-32"
                aria-label="Example icon button with a bookmark icon">
                <i-tabler class="icon-18 d-flex" [name]="media.brand.icon ?? ''"></i-tabler>
              </button>
            </a>
            }
            }
            @if(email){
            <a [href]="'mailto:'+ email +`?subject=Hello&body=Hola, ${user.name}`" target="_blank"
              rel="noopener noreferrer" class="text-white">
              <button mat-mini-fab class="bg-warning text-white icon-32"
                aria-label="Example icon button with a home icon">
                <i-tabler class="icon-18 d-flex" name="mail"></i-tabler>
              </button>
            </a>
            }
            @if(phone){
            <a [href]="'https://wa.me/'+phone" target="_blank" rel="noopener noreferrer" class="text-white">
              <button mat-mini-fab class="bg-success text-white icon-32"
                aria-label="Example icon button with a home icon">
                <i-tabler class="icon-18 d-flex" name="brand-whatsapp"></i-tabler>
              </button>
            </a>
            }
          </div>
        </div>
      </div>

      <div class="profileTabs m-t-16">
        <mat-tab-group [(selectedIndex)]="selectedTab" mat-stretch-tabs="false" mat-align-tabs="end">
          <mat-tab>
            <ng-template mat-tab-label>
              <i-tabler name="bell-ringing" class="icon-20 m-r-8 d-flex"></i-tabler>
              Anuncios
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <tabler-icon name="user-circle" class="m-r-8 icon-20"></tabler-icon>
              Estudiantes
            </ng-template>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <tabler-icon name="school" class="m-r-8 icon-20"></tabler-icon>
              Cursos
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </div>
    </mat-card>

    <div class="tabContent">
      @switch (selectedTab) {
        @case (0) {
          <app-course-announcements [announcements]="user.announcements ?? []"></app-course-announcements>
        }
        @case (1) {
          <app-students [students]="user.students ?? []"></app-students>
        }
        @case (2) {
          <app-user-courses [courses]="user.courses ?? []"></app-user-courses>
        }
      }
    </div>
  </div>
  }
</div>