<mat-card class="cardWithShadow p-15">
  <app-course-general-info
    [form]="form.controls.general"
    [isEditMode]="isEditMode">
  </app-course-general-info>

  <div class="d-flex justify-content-end">
    <button
      mat-flat-button
      color="primary"
      (click)="save()"
      [disabled]="form.invalid">
      Guardar
    </button>
  </div>
</mat-card>


<!-- <mat-card class="cardWithShadow p-15">
  <app-course-general-info [(generalInfo)]="generalInfo" [isEditMode]="isEditMode()"></app-course-general-info>
  <app-course-extra-info [(extraInfo)]="extraInfo" [isEditMode]="isEditMode()"></app-course-extra-info>
  @if(isEditMode()){
  <app-course-exercises></app-course-exercises>
  <app-course-topics></app-course-topics>
  <app-course-pricing></app-course-pricing>
  }
  <div class="d-flex justify-content-end gap-20">
    <button mat-flat-button (click)="save()" [disabled]="isSaveDisabled()">
      Guardar
    </button>
  </div>
</mat-card> -->