<div class="d-flex flex-column">
  <mat-chip-set>
    <mat-chip [disabled]="true" class="f-w-600">
      {{ currentStatus?.description || 'Borrador' }}
    </mat-chip>
  </mat-chip-set>

  @if (mode === 'EDITING') {
  <div class="d-flex flex-column gap-2 m-t-15">
    @if (canSubmitForReview) {
    <button mat-flat-button color="primary" type="button" [disabled]="processing" (click)="submitForReview()">
      Enviar a revisión
    </button>
    }
    @if (canPublish) {
    <button mat-flat-button color="primary" type="button" [disabled]="processing" (click)="publish()">
      Publicar
    </button>
    }
    @if (canArchive) {
    <button mat-stroked-button color="warn" type="button" class="m-t-8" [disabled]="processing"
      (click)="archive()">
      Archivar
    </button>
    }
  </div>
  }
</div>