<div class="col-12 p-l-0">
    <mat-form-field appearance="outline" class="w-100">
        <mat-label>Código del vídeo</mat-label>
        <input type="text" matInput required aria-label="Código del vídeo" id="code"
            name="code" formControlName="code" placeholder="Código del vídeo" />
    </mat-form-field>
</div>
<form [formGroup]="form" class="">
    <div class="d-flex row w-100 m-l-0">
        <div class="col-3">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Inicia en el segundo...</mat-label>
                <input type="number" matInput aria-label="Inicia en el segundo..." id="startSeconds"
                name="startSeconds" formControlName="startSeconds" placeholder="Inicia en el segundo..." />
            </mat-form-field>
        </div>
        <div class="col-3 p-r-0">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Termina en el segundo...</mat-label>
                <input type="number" matInput aria-label="Termina en el segundo..." id="endSeconds"
                    name="endSeconds" formControlName="endSeconds" placeholder="Termina en el segundo..." />
            </mat-form-field>
        </div>
    </div>
</form>