@if(video){
<youtube-player class="rounded d-flex align-items-center justify-content-center m-y-15" [videoId]="video.code"
    [startSeconds]="video.startSeconds" [endSeconds]="video.endSeconds" [height]="videoHeight" [width]="videoWidth">
</youtube-player>
    <app-element-navigation class="m-t-15" [canGoNext]="navigationState.hasNext"
        [canGoPrevious]="navigationState.hasPrevious" (next)="goNext()"
        (previous)="goPrevious()"></app-element-navigation>
} @else {
<mat-card class="shadow-none b-1 rounded m-y-15 p-b-15">
    <div class="d-flex col align-items-center justify-content-center text-center">
        <p>No hay videos registrados para este artículo. Por favor, considera ayudar a la comunidad apoartando alguno.
        </p>
        <p>!Muchas gracias de antemano!</p>
        <button mat-mini-fab [matTooltip]="creationAction.tooltip" [class]="creationAction.buttonClass"
            [attr.aria-label]="creationAction.label" (click)="createElement(creationAction.entity)">
            <i-tabler class="icon-20 d-flex" [name]="creationAction.icon"></i-tabler>
        </button>
    </div>
</mat-card>
}