@use "../variables" as *;
@use "@angular/material" as mat;

html {
  .mat-secondary {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-secondary);
    }
  }

  .mat-warning {
    .mdc-linear-progress__bar-inner {
      border-color: $warning;
    }
  }

  .mat-error {
    .mdc-linear-progress__bar-inner {
      border-color: var(--mat-sys-error);
    }
  }

    .mat-success {
      .mdc-linear-progress__bar-inner {
        border-color: $success !important;
      }
    }

  .mdc-linear-progress__buffer,
  .mdc-linear-progress__bar-inner {
    border-radius: var(--mat-sys-corner-small);
  }
}
