<mat-card class="cardWithShadow">
  <mat-card-content>
    <app-filters-orchestrator [config]="filtersConfig" (filtersChange)="onFiltersChanged($event)"
      [options]="filterOptions">
    </app-filters-orchestrator>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow m-b-0">
  <mat-card-header class="b-b-1 justify-content-end">
    <button mat-mini-fab class="bg-primary text-white " [matTooltip]="'BUTTONS.CREATE.MODULE' | translate"
      [aria-label]="'BUTTONS.CREATE.MODULE' | translate" (click)="create()">
      <i-tabler name="plus" class="icon-20 d-flex"></i-tabler>
    </button>
  </mat-card-header>
  <mat-card-content class="module-list">
    <ng-scrollbar class="position-relative" style="height: 46vh">
      <div class="row">
        @for(rule of filteredRules(); track rule.id) {
        <div class="col-lg-4" id="rule-item">
          <mat-card class="card overflow-hidden shadow-none b-1">
            <div class="course-header text-white p-12 bg-{{
                rule.ambit?.color
              }} d-flex justify-content-between">
              <mat-card-title class="m-b-0 f-s-16">
                {{ rule.ambit?.description }}
              </mat-card-title>
              <span class="d-flex align-items-center gap-4 f-s-14"><i-tabler name="clock" class="icon-16 d-flex"></i-tabler>{{
                rule?.readingTime || 0 }}</span>
            </div>
            <mat-card-content class="text-center rule-item">
              <h3 class="m-b-4 f-s-16 f-w-600">
                {{ rule.description }}
              </h3>
              <span class="f-s-12">{{ rule.updateDate | date:'dd/MM/yy' }}</span>
            </mat-card-content>
            <mat-divider></mat-divider>
            <div class="text-center p-y-8 p-x-12">
              @if( ('COURSE_DELETE' | accessControl) | async ) {
              <button mat-mini-fab class="cart-btn-overlay bg-error text-white" matTooltip="Delete"
                (click)=" deleteRule(rule.id); $event.stopPropagation()">
                <i-tabler name="trash" class="icon-16 d-flex"></i-tabler>
              </button>
              }
              @if(('COURSE_EDIT' | accessControl) | async ) {
              <button mat-mini-fab class="cart-btn-overlay bg-primary text-white" matTooltip="Edit" (click)="editRule(rule)">
                <i-tabler name="pencil" class="icon-16 d-flex"></i-tabler>
              </button>
              }
              <a mat-button (click)="goToRoute(rule)" class="w-100">
                Empezar
              </a>
            </div>
          </mat-card>
        </div>
        }
      </div>      
    </ng-scrollbar>
  </mat-card-content>
  <mat-paginator #paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" class="b-t-1 p-x-48" (page)="onPageChange($event)"></mat-paginator>
</mat-card>
