<mat-form-field class="w-100" appearance="outline">
  <mat-label>
    {{ 'LABELS.FILTERS.QUESTION_TYPE' | translate }}
    @if (control.hasError('required')) { <span>*</span> }
  </mat-label>
  <input matInput [formControl]="control" [matAutocomplete]="auto" (blur)="onTouched()" />

  @if(control.enabled){
  <mat-icon matSuffix class="d-flex justify-content-center align-items-center cursor-pointer" (click)="clean()">
    <i-tabler name="x" class="icon-15 d-flex justify-content-center align-items-center"></i-tabler>
  </mat-icon>
  }

  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayName">
    @for(item of filteredItems; track item.code) {
    <mat-option [value]="item"  (onSelectionChange)="onSelected(item)">
      {{ item.description }}
    </mat-option>
    }
  </mat-autocomplete>
  @if (ngControl?.control?.errors?.['required'] && (ngControl?.control?.touched || ngControl?.control?.dirty)) {
      <mat-error class="f-s-12">{{ 'LABELS.VALIDATION.REQUIRED_FIELD' | translate }}</mat-error>
    }
</mat-form-field>