@if(selectedDiagram() && selectedDiagram()?.id !== 0){
<mat-card class="shadow-none b-1 diagram-content">
  @if(showBanner) {
  <app-banner-level-up [bannerText]="bannerText"></app-banner-level-up>
  } @else {
  <mat-card-header>
    @if(selectedDiagram()?.description){
    <mat-card-title>
      {{ selectedDiagram()?.description }}
    </mat-card-title>
    }
    @if(selectedDiagram()?.url){
    <mat-card-subtitle>
      <a href="{{selectedDiagram()?.url}}" target="_blank" rel="noopener noreferrer">Origen</a>
    </mat-card-subtitle>
    }
  </mat-card-header>
  @if(panZoom){
  <div class="d-flex row m-10 justify-content-end">
    <button mat-mini-fab matTooltip="Acercar" class="text-primary" aria-label="Acercar diagrama"
      (click)="panZoom.zoomIn()">
      <i-tabler class="icon-20 d-flex" name="plus"></i-tabler>
    </button>
    <button mat-mini-fab matTooltip="Alejar" class="text-primary m-l-10" aria-label="Alejar diagrama"
      (click)="panZoom.zoomOut()">
      <i-tabler class="icon-20 d-flex" name="minus"></i-tabler>
    </button>
  </div>
  }
  <mat-card-content class="diagram-wrapper">
    <div class="diagram-container" [class.d-none]="!selectedDiagram()">
      <div #mermaid class="mermaid" mermaidPanZoom></div>
    </div>
    <div class="text-center p-y-8 p-x-12 diagram-actions">
      @if( (selectedDiagram()?.creatorId || 0 | myOwnContent) | async ) {
      <button mat-mini-fab class="cart-btn-overlay bg-error text-white" matTooltip="Borrar"
        (click)=" deleteItem(); $event.stopPropagation()">
        <i-tabler name="trash" class="icon-16 d-flex"></i-tabler>
      </button>
      }
      @if((selectedDiagram()?.creatorId || 0 | myOwnContent) | async ) {
      <button mat-mini-fab class="cart-btn-overlay bg-primary text-white" matTooltip="Editar" (click)="updateItem()">
        <i-tabler name="pencil" class="icon-16 d-flex"></i-tabler>
      </button>
      }
    </div>
  </mat-card-content>
  <app-element-navigation [canGoNext]="navigationState.hasNext" [canGoPrevious]="navigationState.hasPrevious"
    (next)="goNext()" (previous)="goPrevious()"></app-element-navigation>

  <mat-divider></mat-divider>
  <div class="d-flex align-items-center justify-content-between m-10">
    @if(selectedDiagram()){
    <app-reactions [content]="selectedDiagram" [featureType]="featureType"></app-reactions>
    <div>|</div>
    <i-tabler [matTooltip]="'Generado por: ' + selectedDiagram()?.creationType?.description" class="icon-20 d-flex"
      [name]="selectedDiagram()?.creationType?.icon || ''"></i-tabler>
    }
  </div>
  }
</mat-card>
} @else {
<mat-card class="shadow-none b-1 rounded m-y-15 p-b-15">
  <div class="d-flex col align-items-center justify-content-center text-center">
    <p>No hay diagramas registrados para este artículo. Por favor, considera ayudar a la comunidad apoartando alguno/s.
    </p>
    <p>!Muchas gracias de antemano!</p>
    <button mat-mini-fab [matTooltip]="creationAction.tooltip" [class]="creationAction.buttonClass"
      [attr.aria-label]="creationAction.label" (click)="createElement(creationAction.entity)">
      <i-tabler class="icon-20 d-flex" [name]="creationAction.icon"></i-tabler>
    </button>
  </div>
</mat-card>
}