<mat-card class="cardWithShadow">
  <mat-card-content>
    <app-filters-orchestrator [config]="filtersConfig" (filtersChange)="onFiltersChanged($event)"
      >
    </app-filters-orchestrator>
  </mat-card-content>
</mat-card>
<mat-card class="cardWithShadow m-b-0">
  <mat-card-header class="b-b-1 justify-content-end">
    <button mat-mini-fab class="bg-primary text-white" [matTooltip]="'BUTTONS.CREATE.COURSE' | translate"
      [aria-label]="'BUTTONS.CREATE.COURSE' | translate" (click)="create()">
      <i-tabler name="plus" class="icon-20 d-flex"></i-tabler>
    </button>
  </mat-card-header>
  <mat-card-content class="module-list">
    <ng-scrollbar class="position-relative" style="height: 50vh" >
      @if(filteredCourses()) {
      <div class="row">
        @for(course of filteredCourses(); track course.id) {
        <div class="col-lg-4">
          <mat-card class="card overflow-hidden shadow-none b-1 cursor-pointer" (click)="getCourseDetails(course)">
            <img mat-card-image src="{{ course.imgSrc }}" alt="Imagen principal del curso" />
            <div class="card-overlay h-100 d-flex align-items-end justify-content-end">
              <mat-chip class="f-s-12 f-w-600 m-y-16 m-r-16 bg-white">{{
                course.orgDescription
                }}</mat-chip>
            </div>

            <mat-card-content class="p-y-24">
              <div class="user-category">
                <mat-chip class="f-s-12 m-y-16 f-w-600 bg-white ">
                  {{course.categoryDescription}}
                </mat-chip>
              </div>
              <mat-card-title>{{ course.description }}</mat-card-title>
              <div class="d-flex align-items-center justify-content-center m-t-24">
                <div class="d-flex align-items-center">
                  <span class="m-r-12 f-s-14 d-flex align-items-center"><i-tabler name="users-group"
                      class="icon-18 m-r-4"></i-tabler>
                      {{ course.students }}
                    </span>
                  <span class="f-s-14 d-flex align-items-center"><i-tabler name="message-2"
                      class="icon-18 m-r-4"></i-tabler>
                      {{ course.commentsCount }}
                    </span>
                </div>
                <span class="m-l-auto f-s-14 d-flex align-items-center">
                  <i-tabler name="calendar" class="icon-14 m-r-4 d-flex"></i-tabler>
                  {{ course.examDate ? (course.examDate | date:'dd/MM/yy') : 'Sin fecha' }}
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        } @empty {
        <app-banner-nof-found class="w-100" bannerText="No hay cursos que cumplan las condiciones de búsqueda."
          bannerTitle="Ups! Parece que algo ha ido mal."></app-banner-nof-found>
        }
      </div>
      } @else {
      <div class="h-100 d-flex align-items-center justify-content-center p-10">
        <mat-spinner></mat-spinner>
      </div>
      }

    </ng-scrollbar>
  </mat-card-content>
  <mat-paginator #paginator [pageSize]="pageSize" [length]="length" [pageSizeOptions]="pageSizeOptions"
    [showFirstLastButtons]="true" class="b-t-1 p-x-48" (page)="onPageChange($event)"></mat-paginator>
</mat-card>