<mat-form-field class="w-100" appearance="outline">
  <mat-chip-grid #chipGrid>

    @for (item of selectedItems; track item.id) {
    <mat-chip-row [removable]="parentId" (removed)="remove(item)">
      {{ item.name }}

      @if(parentId){
      <button matChipRemove>
        <i-tabler name="x" class="icon-15 d-flex"></i-tabler>
      </button>
      }
    </mat-chip-row>
    }

    <input matInput [formControl]="control" [matAutocomplete]="auto" [matChipInputFor]="chipGrid"
      [matChipInputAddOnBlur]="false" />

  </mat-chip-grid>

  <mat-autocomplete #auto="matAutocomplete">
    @for (item of filteredItems; track item.id) {
    <mat-option (click)="$event.stopPropagation()">
      <mat-checkbox [checked]="isSelected(item)" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
        {{ displayLabel(item) }}
      </mat-checkbox>
    </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>


<!-- <div>
  <mat-form-field class="w-100" appearance="outline">
    <mat-label>Artículos</mat-label>
    <mat-chip-grid #chipGrid>
      @for (item of selectedItems; track item.boeId) {
      <mat-chip-row [removable]="parentId" (removed)="remove(item)">
        {{ item.boeId }}
        @if(parentId){
        <button matChipRemove>
          <i-tabler name="x" class="icon-15 d-flex"></i-tabler>
        </button>
        }
      </mat-chip-row>
      }
      <input matInput
       placeholder="Buscar artículo"
       [formControl]="control"
       [matAutocomplete]="ArticleAuto"
       [matChipInputFor]="chipGrid"
       [matChipInputAddOnBlur]="false"
       (input)="filter(control.value)" />
    </mat-chip-grid>
    <mat-icon matSuffix class="d-flex justify-content-center align-items-center cursor-pointer" (click)="clean()">
      <i-tabler name="x" class="icon-15 d-flex justify-content-center align-items-center"></i-tabler>
    </mat-icon>
    <mat-autocomplete #ArticleAuto="matAutocomplete">
      @for (item of filteredItems; track item.boeId) {
      <mat-option (click)="$event.stopPropagation()">
        <mat-checkbox [checked]="isSelected(item)" (change)="toggleSelection(item)" (click)="$event.stopPropagation()">
          {{ item.title }}
        </mat-checkbox>
      </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</div> -->