<form #form="ngForm">
  <mat-form-field class="w-100" appearance="outline">
    <!-- <mat-label>Etiquetas</mat-label> -->
    <div>
      <mat-chip-grid #chipGrid>
        @for(tag of selectedTags ;track tag){
        <mat-chip [removable]="true" (removed)="removeTag(tag)">
          {{ tag }}
          <button matChipRemove>
            <i-tabler name="x" class="icon-15 d-flex"></i-tabler>
          </button>
        </mat-chip>
        }
        <input [formControl]="control" placeholder="Etiquetas" [matAutocomplete]="auto" [matChipInputFor]="chipGrid" id="tags" name="tags"
          (matChipInputTokenEnd)="addTagFromInput($event)" />
      </mat-chip-grid>
    </div>
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectTag($event.option.viewValue)">
    @for (tag of tags(); track tag) {
    <mat-option [value]="tag">
      {{ tag }}
    </mat-option>
    }
  </mat-autocomplete>
</form>