<div [formGroup]="form">
  <div class="row p-x-15">
    <mat-card class="shadow-none b-1 rounded p-15 col-xl-12">
      <div class="d-flex row justify-content-between m-l-0 m-r-0 m-b-15">
        <h4>Detalles adicionales</h4>
        <!-- <tabler-icon name="info-circle" class="m-r-5"></tabler-icon> -->
        <i-tabler name="info-circle"></i-tabler>
      </div>
      <div class="row justify-content-start">
        <div class="col-sm-4">
          <course-type-filter [mode]="modeToSend" formControlName="typeId" class="m-t-15"></course-type-filter>
        </div>
        <div class="col-sm-4">
          <course-category-filter [mode]="modeToSend" formControlName="categoryId"
            class="m-t-15"></course-category-filter>
        </div>
        <div class="col-sm-4">
          <calling-org-filter [mode]="modeToSend" formControlName="callerId"
            class="m-t-15"></calling-org-filter>
        </div>
        <div class="col-sm-4 m-t-15">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Número de plazas</mat-label>
            <input type="number" matInput required aria-label="Plazas ofertadas" id="vacancies" name="vacancies"
              formControlName="vacancies" placeholder="Plazas ofertadas" />
            @if(form.get('vacancies')?.hasError('required')){
            <mat-error>
              Elemento
              requerido.*
            </mat-error>
            }
          </mat-form-field>
        </div>
        <div class="col-lg-8 m-t-15">
          <app-courses-tags formControlName="tags" class="m-t-15"></app-courses-tags>
        </div>
        <div class="col-sm-4 m-t-15">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>URL oficial</mat-label>
            <input type="text" matInput aria-label="URL de la oposición" id="url" name="url" formControlName="official_call_url"
              placeholder="URL de la oposición" />
          </mat-form-field>
        </div>
        <div class="col-sm-4 m-t-15">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha del examen</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="examDate" placeholder="Choose a date" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-sm-4 m-t-15">
          <app-year-picker  formControlName="calling_year"></app-year-picker>
        </div>
      </div>
    </mat-card>
  </div>
</div>