/* .ai-element {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    //height: 100%;
}

::ng-deep .ai-element .mat-mdc-chip-set .mdc-evolution-chip-set__chips{
    flex-direction: column;
} */