<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-auth-branding></app-auth-branding>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/login-bg.png"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0 d-flex justify-content-center">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9">
            <h4 class="f-w-700 f-s-24 m-0">Set a new password</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8">
              Choose a new password for your account.
            </span>

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="submit()">
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">New password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="newPassword">
                @if(f.newPassword.touched && f.newPassword.invalid) {
                <mat-hint class="m-b-16 error-msg">
                  <div class="text-error">Minimum 8 characters, with at least one letter and one number.</div>
                </mat-hint>
                }
              </mat-form-field>

              <mat-label class="f-s-14 f-w-600 m-b-12 d-block">Confirm password</mat-label>
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <input matInput type="password" formControlName="confirmPassword">
                @if(f.confirmPassword.touched && form.errors?.['mismatch']) {
                <mat-hint class="m-b-16 error-msg">
                  <div class="text-error">Passwords do not match.</div>
                </mat-hint>
                }
              </mat-form-field>

              @if(error) {
              <div class="text-error f-s-14 m-b-16">{{ error }}</div>
              }

              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!form.valid || loading"
              >
                {{ loading ? 'Saving...' : 'Save and continue' }}
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
