@use '../variables' as *;

.task-list-section {
  height: 74vh;
  max-height: 74vh;
  overflow: hidden;
  display: flex;
}

.task-list-container {
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.connect-sorting {
  padding: 20px;
  border-radius: $border-radius;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.connect-sorting-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-right: 5px;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
}
