<div class="d-flex align-items-stretch rounded">
  <mat-card class="cardWithShadow law-content rounded">
    <app-article-tabs [selectedTabIndex]="selectedTabIndex" [tabs]="tabs()" [progress]="progress" (tabSelected)="selectTab($event)">
    </app-article-tabs>

    <app-article-stepper [paragraphs]="paragraphs()" [ruleId]="ruleId" [articleId]="articleId" [progress]="progress" (resetRequested)="resetArticle()"  [lastArticle]="selectedTabIndex === tabs.length - 1"  (nextArticleRequested)="goToNextTab()" (entityToCreate)="handleEntityCreationInput($event)">
    </app-article-stepper>
  </mat-card>
  @if(article() && selectedRule){
  <mat-card class="cardWithShadow m-l-20 gen-actions ">
    <app-create-generic-element [rule]="selectedRule" [article]="article()" [entityToCreate]="entityToCreate()"></app-create-generic-element>
  </mat-card>
  }
</div>


<!--     <mat-tab-group [(selectedIndex)]="selectedTabIndex" (selectedIndexChange)="onTabChange($event)">
      @for(tab of tabs; track $index) {
      <mat-tab>
        <ng-template mat-tab-label>
          @if(tab.titulo) {
          <div class="d-flex align-items-center" (click)="getArticle(tab)">
            {{ tab.titulo }}
          </div>
          } @else {
          <div class="d-flex align-items-center" (click)="getArticle(tab)">
            {{ tab.id.toUpperCase() }}
          </div>
          }
          <i-tabler class="icon-15 m-l-5" [name]="'percentage-' + getArticleProgressStatus(tab.id)" [matTooltip]="getArticleProgressStatus(tab.id)+'%'"></i-tabler>
        </ng-template>
        <mat-card-content>
          <mat-vertical-stepper #stepper [selectedIndex]="currentStepIndex" (selectionChange)="onStepChange($event)">
            <mat-step label="text" [completed]="selectedArticleProgress()?.text_reviewed">
              <ng-template matStepLabel>Contenido</ng-template>
              @if(paragraphs()){
                <div class="d-flex flex-start">
                  <div>
                    @for(paragraph of paragraphs(); track $index){
                      <p>{{paragraph['#text']}}</p>
                    }
                  </div>
                </div>
              }
              <div>
                <button mat-flat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            @if(tab.id.startsWith('a')) {
            <mat-step label="videos" [completed]="selectedArticleProgress()?.video_reviewed">
              <ng-template matStepLabel>Vídeo</ng-template>
              @if (selectedTabIndex === $index && currentStepIndex === 1) {
              <app-video [ruleCode]="ruleCode" [artiCode]="artiCode"></app-video>
              }
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button matStepperPrevious class="bg-secondary">Previo</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="diagrams" [completed]="selectedArticleProgress()?.diagrams_reviewed">
              <ng-template matStepLabel>Diagrama y resúmenes</ng-template>
              @if (selectedTabIndex === $index && currentStepIndex === 2) {
              <app-scheme-navigation [ruleCode]="ruleCode" [artiCode]="artiCode"></app-scheme-navigation>
              }
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button matStepperPrevious class="bg-secondary">Previo</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="flashcards" [completed]="selectedArticleProgress()?.flashcards_reviewed">
              <ng-template matStepLabel>Tarjetas de memorización</ng-template>
              @if (selectedTabIndex === $index && currentStepIndex === 3) {
              <app-flashcard-navigation [ruleCode]="ruleCode" [artiCode]="artiCode"></app-flashcard-navigation>
              }
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button matStepperPrevious class="bg-secondary">Previo</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>

            <mat-step label="questions" [completed]="selectedArticleProgress()?.questions_reviewed">
              <ng-template matStepLabel>Preguntas de repaso</ng-template>
              @if (selectedTabIndex === $index && currentStepIndex === 4) {
              <app-question [ruleCode]="ruleCode" [artiCode]="artiCode"></app-question>
              }
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button matStepperPrevious class="bg-secondary">Previo</button>
                <button mat-flat-button matStepperNext>Siguiente</button>
              </div>
            </mat-step>
            }

            <mat-step label="final" [completed]="selectedArticleProgress()?.completed">
              <ng-template matStepLabel>¡Felicitaciones!</ng-template>
              <h3 class="m-t-12">¡Artículo superado!</h3>
              <p>
                A por el siguiente. Te deseamos mucha suerte :).
              </p>
              <div class="d-flex align-items-center gap-12">
                <button mat-flat-button matStepperPrevious class="bg-secondary">Previo</button>
                <button mat-flat-button (click)="stepper.reset()">Reiniciar</button>
                <button mat-stroked-button class="text-primary" [disabled]="$index === tabs.length - 1" (click)="goToNextTab(stepper, $index)">Siguiente artículo</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>
        </mat-card-content>
      </mat-tab>
      }
    </mat-tab-group> -->