<form [formGroup]="form">
    <div class="row">
        <div class="col-xl-12">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Pregunta</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <textarea matInput required rows="3" formControlName="question"></textarea>
            </mat-form-field>
        </div>
        <div class="col-xl-12">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Respuesta</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <textarea matInput required rows="3" formControlName="answer"></textarea>
            </mat-form-field>
        </div>
    </div>
</form>

<!-- <form [formGroup]="flashcardForm">
    <div class="row">
        <div class="col-xl-12">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Pregunta</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <textarea matInput required rows="3" formControlName="question"></textarea>
            </mat-form-field>
        </div>
        <div class="col-xl-12">
            <mat-label class="f-s-14 f-w-600 m-b-8 d-block">Respuesta</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
                <textarea matInput required rows="3" formControlName="answer"></textarea>
            </mat-form-field>
        </div>
    </div>
    <div class="">
    </div>
    <div class="d-flex justify-content-end">
        <button mat-flat-button (click)="save()" [disabled]="!flashcardForm.valid">
            Guardar
        </button>
    </div>
</form> -->