<mat-card class="cardWithShadow m-b-0">
    <form [formGroup]="form">
        <div class="d-flex row justify-content-start m-t-15 m-x-15" formGroupName="common">
            <div class="col-lg-6 p-l-0">
                <rule-filter formControlName="ruleId" [mode]="mode"></rule-filter>
            </div>
            <div class="col-lg-6 p-x-0">
                <app-multi-select formControlName="articlesIds" [mode]="mode" [rule]="selectedRule"></app-multi-select>
            </div>
        </div>

        <mat-card-content class="d-flex justify-content-start gap-15 h-100 m-r-15 diagram-editor-container"
            formGroupName="feature">
            <mat-card class="d-flex col justify-content-between shadow-none b-1 col-sm-4 h-100 p-15">
                <mat-form-field appearance="outline" class="w-100">
                    <textarea matInput formControlName="snippet" rows="12"></textarea>
                </mat-form-field>

                <div class="b-1 w-100 rounded p-15">
                    <mat-chip-listbox aria-label="Fish selection">
                        @for(sample of samples; track $index){
                        <mat-chip-option class="f-s-14" [value]="sample.code || ''" color="primary"
                            (selectionChange)="changeSample(sample)">{{ sample.description }}
                        </mat-chip-option>
                        }
                    </mat-chip-listbox>
                </div>
            </mat-card>
            <mat-card class="shadow-none b-1 col-8 h-100">
                @if(panZoom){
                <div class="d-flex row m-10 justify-content-between">
                    <div class="col-lg-6 p-l-0">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Descripción</mat-label>
                            <input type="text" placeholder="Nombre de la norma" aria-label="Nombre de la norma" matInput
                                formControlName="description" />
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-mini-fab matTooltip="Acercar" class="text-primary" aria-label="Acercar diagrama"
                            (click)="panZoom.zoomIn()">
                            <i-tabler class="icon-20 d-flex" name="zoom-in"></i-tabler>
                        </button>
                        <button mat-mini-fab matTooltip="Alejar" class="text-primary m-l-10"
                            aria-label="Alejar diagrama" (click)="panZoom.zoomOut()">
                            <i-tabler class="icon-20 d-flex" name="zoom-out"></i-tabler>
                        </button>
                    </div>
                </div>
                }
                <mat-card-content class="">
                    <div class="scheme-container">
                        <div #mermaid class="mermaid" mermaidPanZoom></div>
                    </div>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </form>

    <div class="d-flex justify-content-between align-items-center m-b-15 m-x-15">
        <div>
            @if (!form.valid) {
            <mat-error class="f-s-12">Por favor, seleccione una norma, al menos un artículo e introduzca el texto del
                diagrama (siguiendo los ejemplos).</mat-error>
            }
            @if(error()){
            <mat-error class="f-s-12 d-flex">
                <i-tabler class="icon-20 d-flex m-r-15" name="alert-triangle"></i-tabler>
                {{errorLabel()}}</mat-error>
            }
        </div>
        <button mat-flat-button (click)="submit()" [disabled]="!form.valid || loading()">
            {{ loading() ? 'Guardando...' : 'Guardar' }}
        </button>
    </div>
</mat-card>