<div class="upgrade-cta">
  <div class="upgrade-left">
    <div class="upgrade-icon">
      <i-tabler class="icon-22" name="chart-radar"></i-tabler>
    </div>
    <div class="upgrade-copy">
      <div class="upgrade-title">¿El plan básico se te queda corto?</div>
      <div class="upgrade-sub">
        Con Silver o Gold desbloqueas tendencias, comparativas entre temas y detección de puntos
        débiles para estudiar de forma más inteligente.
      </div>
    </div>
  </div>
  <button class="upgrade-btn" type="button" (click)="goToPricing()">
    Mejorar mi plan
    <i-tabler class="icon-16" name="arrow-right"></i-tabler>
  </button>
</div>
