<mat-card class="cardWithShadow">

  <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="user-circle" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        {{ 'ACCOUNT.TABS.ACCOUNT' | translate }}
      </ng-template>
      <mat-card-content class="p-y-24">
        <div class="row">
          <div class="col-sm-6">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>{{ 'ACCOUNT.AVATAR.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.AVATAR.SUBTITLE' | translate }}</mat-card-subtitle>
                <div class="text-center m-t-24">
                  <img [src]="loggedUser()?.image || '/assets/images/profile/user-1.jpg'" class="rounded-circle" width="120" />
                  <div class="m-t-24">
                    <input #avatarInput type="file" accept="image/*" class="d-none" (change)="onAvatarFileSelected($event)" />
                    <button mat-flat-button color="primary" class="m-r-8" [disabled]="uploadingAvatar()" (click)="avatarInput.click()">
                      {{ 'ACCOUNT.AVATAR.UPLOAD' | translate }}
                    </button>
                    <button mat-stroked-button color="warn" [disabled]="uploadingAvatar()" (click)="resetAvatar()">{{ 'ACCOUNT.AVATAR.RESET' | translate }}</button>
                  </div>
                  <span class="f-s-14 m-t-24 d-block">{{ 'ACCOUNT.AVATAR.HINT' | translate }}</span>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-sm-6">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>{{ 'ACCOUNT.PASSWORD.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.PASSWORD.SUBTITLE' | translate }}</mat-card-subtitle>
                <form class="m-t-24" [formGroup]="passwordForm" (ngSubmit)="changePassword()">
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PASSWORD.CURRENT' | translate }}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput [type]="showCurrentPassword() ? 'text' : 'password'" formControlName="currentPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="toggleCurrentPasswordVisibility()">
                      <mat-icon>{{ showCurrentPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PASSWORD.NEW' | translate }}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput [type]="showNewPassword() ? 'text' : 'password'" formControlName="newPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="toggleNewPasswordVisibility()">
                      <mat-icon>{{ showNewPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PASSWORD.CONFIRM' | translate }}</mat-label>
                  <mat-form-field appearance="outline" class="w-100 hide-hint" color="primary">
                    <input matInput [type]="showConfirmPassword() ? 'text' : 'password'" formControlName="confirmPassword" />
                    <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()">
                      <mat-icon>{{ showConfirmPassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                  </mat-form-field>
                  @if (passwordForm.errors?.['mismatch'] && (pf.confirmPassword.dirty || pf.confirmPassword.touched)) {
                    <span class="f-s-14 text-error d-block m-b-16">{{ 'ACCOUNT.PASSWORD.MISMATCH' | translate }}</span>
                  }
                  <button mat-flat-button color="primary" type="submit" [disabled]="passwordForm.invalid || changingPassword()">
                    {{ 'ACCOUNT.PASSWORD.SUBMIT' | translate }}
                  </button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-12">
            <mat-card class="cardWithShadow">
              <mat-card-content>
                <mat-card-title>{{ 'ACCOUNT.PERSONAL.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.PERSONAL.SUBTITLE' | translate }}</mat-card-subtitle>

                <form [formGroup]="personalForm" (ngSubmit)="savePersonalDetails()">
                  <div class="row m-t-24">
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.NAME' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="name" />
                      </mat-form-field>
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.EMAIL' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="email" formControlName="email" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <!-- input -->
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.FIRST_SURNAME' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="first_surname" />
                      </mat-form-field>
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.SECOND_SURNAME' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="second_surname" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.PHONE' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="phone" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                      <app-country-filter formControlName="countryId"></app-country-filter>
                    </div>
                    <div class="col-sm-6">
                      <app-town-filter formControlName="townId" [parentId]="personalForm.get('countryId')?.value || 0"></app-town-filter>
                    </div>
                    <div class="col-sm-6">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.STREET' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="street" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.NUMBER' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="number" formControlName="number" />
                      </mat-form-field>
                    </div>
                    <div class="col-sm-3">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.POSTAL_CODE' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="postal_code" />
                      </mat-form-field>
                    </div>
                    <div class="col-12">
                      <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.OTHER_INFO' | translate }}</mat-label>
                      <mat-form-field appearance="outline" class="w-100" color="primary">
                        <input matInput type="text" formControlName="other_info" />
                      </mat-form-field>
                    </div>
                  </div>
                  <button mat-flat-button color="primary" type="submit" [disabled]="personalForm.invalid || savingPersonal()">
                    {{ 'ACCOUNT.PERSONAL.SAVE' | translate }}
                  </button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
          @if (assignableRoles.length > 0) {
          <div class="col-12">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>Cambiar mi rol</mat-card-title>
                <mat-card-subtitle class="f-s-14">
                  Cambia tu rol en la plataforma. Solo se muestran los roles a los que puedes cambiar desde tu rol actual.
                </mat-card-subtitle>

                <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-24">Nuevo rol</mat-label>
                <mat-form-field appearance="outline" class="w-100" color="primary">
                  <mat-select placeholder="Selecciona un rol" [value]="selectedRoleCode()"
                    (selectionChange)="onRoleSelected($event.value)">
                    @for (role of assignableRoles; track role.id) {
                    <mat-option [value]="role.code">{{ role.description }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>

                <div class="m-t-24">
                  <button mat-flat-button color="primary" [disabled]="!selectedRoleCode()"
                    (click)="changeRole()">Cambiar rol</button>
                </div>
              </mat-card-content>
            </mat-card>
          </div>
          }
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="bell" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        {{ 'ACCOUNT.TABS.NOTIFICATIONS' | translate }}
      </ng-template>
      <mat-card-content class="p-y-24">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>{{ 'ACCOUNT.NOTIFICATIONS.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.NOTIFICATIONS.SUBTITLE' | translate }}</mat-card-subtitle>

                <form [formGroup]="notificationsForm" (ngSubmit)="saveNotificationPreferences()">
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-24">{{ 'ACCOUNT.NOTIFICATIONS.EMAIL' | translate }}</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <input matInput type="email" formControlName="notificationEmail" />
                    <mat-hint>{{ 'ACCOUNT.NOTIFICATIONS.EMAIL_HINT' | translate }}</mat-hint>
                  </mat-form-field>

                  <div class="d-flex align-items-center m-t-24">
                    <button mat-mini-fab type="button" class="bg-light-primary shadow-none rounded icon-48">
                      <i-tabler name="article" class="icon-20 d-flex text-primary"></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">{{ 'ACCOUNT.NOTIFICATIONS.NEWSLETTER_TITLE' | translate }}</h5>
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <span class="f-s-14">{{ 'ACCOUNT.NOTIFICATIONS.NEWSLETTER_SUBTITLE' | translate }}</span>
                        <mat-slide-toggle class="m-l-auto" formControlName="newsletterOptIn"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button mat-mini-fab type="button" class="bg-light-primary shadow-none rounded icon-48">
                      <i-tabler name="mail" class="icon-20 d-flex text-primary"></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">{{ 'ACCOUNT.NOTIFICATIONS.COURSE_UPDATES_TITLE' | translate }}</h5>
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <span class="f-s-14">{{ 'ACCOUNT.NOTIFICATIONS.COURSE_UPDATES_SUBTITLE' | translate }}</span>
                        <mat-slide-toggle class="m-l-auto" formControlName="courseUpdatesOptIn"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button mat-mini-fab type="button" class="bg-light-primary shadow-none rounded icon-48">
                      <i-tabler name="gavel" class="icon-20 d-flex text-primary"></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">{{ 'ACCOUNT.NOTIFICATIONS.LAW_UPDATES_TITLE' | translate }}</h5>
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <span class="f-s-14">{{ 'ACCOUNT.NOTIFICATIONS.LAW_UPDATES_SUBTITLE' | translate }}</span>
                        <mat-slide-toggle class="m-l-auto" formControlName="lawUpdatesOptIn"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-t-24">
                    <button mat-mini-fab type="button" class="bg-light-primary shadow-none rounded icon-48">
                      <i-tabler name="speakerphone" class="icon-20 d-flex text-primary"></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <h5 class="f-s-16 f-w-600 m-0 m-b-4">{{ 'ACCOUNT.NOTIFICATIONS.INSTRUCTOR_PUBLICATIONS_TITLE' | translate }}</h5>
                      <div class="d-flex align-items-center justify-content-center w-100">
                        <span class="f-s-14">{{ 'ACCOUNT.NOTIFICATIONS.INSTRUCTOR_PUBLICATIONS_SUBTITLE' | translate }}</span>
                        <mat-slide-toggle class="m-l-auto" formControlName="instructorPublicationsOptIn"></mat-slide-toggle>
                      </div>
                    </div>
                  </div>

                  <button mat-flat-button color="primary" type="submit" class="m-t-24" [disabled]="notificationsForm.invalid || savingNotifications()">
                    {{ 'ACCOUNT.NOTIFICATIONS.SAVE' | translate }}
                  </button>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="receipt" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        {{ 'ACCOUNT.TABS.BILLING' | translate }}
      </ng-template>
      <mat-card-content class="p-y-24">
        <div class="row justify-content-center">
          <div class="col-lg-9">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title class="m-b-24">{{ 'ACCOUNT.BILLING.TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14 m-b-24">{{ 'ACCOUNT.BILLING.SUBTITLE' | translate }}</mat-card-subtitle>

                <mat-radio-group [value]="useDifferentBillingAddress()" (change)="onBillingModeChange($event.value)">
                  <mat-radio-button [value]="false" class="m-r-24">{{ 'ACCOUNT.BILLING.USE_DEFAULT' | translate }}</mat-radio-button>
                  <mat-radio-button [value]="true">{{ 'ACCOUNT.BILLING.USE_DIFFERENT' | translate }}</mat-radio-button>
                </mat-radio-group>

                @if (useDifferentBillingAddress()) {
                  <form class="m-t-24" [formGroup]="billingForm" (ngSubmit)="saveBillingAddress()">
                    <div class="row">
                      <div class="col-sm-6">
                        <app-country-filter formControlName="countryId"></app-country-filter>
                      </div>
                      <div class="col-sm-6">
                        <app-town-filter formControlName="townId" [parentId]="billingForm.get('countryId')?.value || 0"></app-town-filter>
                      </div>
                      <div class="col-sm-6">
                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.STREET' | translate }}</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="text" formControlName="street" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.NUMBER' | translate }}</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="number" formControlName="number" />
                        </mat-form-field>
                      </div>
                      <div class="col-sm-3">
                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.POSTAL_CODE' | translate }}</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="text" formControlName="postal_code" />
                        </mat-form-field>
                      </div>
                      <div class="col-12">
                        <mat-label class="f-s-14 f-w-600 m-b-8 d-block">{{ 'ACCOUNT.PERSONAL.OTHER_INFO' | translate }}</mat-label>
                        <mat-form-field appearance="outline" class="w-100" color="primary">
                          <input matInput type="text" formControlName="other_info" />
                        </mat-form-field>
                      </div>
                    </div>
                    <button mat-flat-button color="primary" type="submit" [disabled]="billingForm.invalid || savingBilling()">
                      {{ 'ACCOUNT.BILLING.SAVE' | translate }}
                    </button>
                  </form>
                }
              </mat-card-content>
            </mat-card>

            <mat-card class="cardWithShadow">
              @if (activePlan$ | async; as activePlan) {
                <mat-card-content class="p-y-24">
                  <mat-card-title>Mi plan :
                    <span class="{{ activePlan.style }} p-x-8 p-y-4 item-chip f-w-500 rounded-pill">{{ activePlan.description }}</span>
                  </mat-card-title>
                  <mat-card-subtitle class="f-s-14">Thanks for being a premium member and supporting our
                    development.</mat-card-subtitle>

                  <div class="d-flex align-items-center m-t-24">
                    <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                      <i-tabler name="box" class="icon-20 d-flex text-primary"></i-tabler>
                    </button>
                    <div class="m-l-16 w-100">
                      <mat-expansion-panel class="cardWithShadow">
                        <mat-expansion-panel-header>
                          <mat-panel-title class="f-w-600 f-s-14">
                            {{ activePlan.description }}
                          </mat-panel-title>
                          <mat-panel-description class="f-s-14">
                            Funcionalidades del plan
                          </mat-panel-description>
                        </mat-expansion-panel-header>
                        @for (plan_feat of getPlanFeatures(activePlan.code); track plan_feat.id) {
                          <div class="d-flex align-items-center p-y-12">
                            <div class="d-flex align-items-center">
                              <i-tabler [name]="plan_feat.feature.icon"
                                [class]="plan_feat.feat_available ? 'icon-16 m-r-12 text-primary d-flex' : 'icon-16 m-r-12 text-error d-flex'"></i-tabler>
                              @if (plan_feat.daily_limit > 0) {
                                <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} ({{ plan_feat.daily_limit }} por
                                  día)</span>
                              } @else if (plan_feat.weekly_limit > 0 && plan_feat.feature.code !== 'SUPPORT') {
                                <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} ({{ plan_feat.weekly_limit }} por
                                  semana)</span>
                              } @else if (plan_feat.feature.code === 'SUPPORT') {
                                @if (plan_feat.weekly_limit < 100) {
                                  <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} (en
                                    menos de {{ plan_feat.weekly_limit }} horas)</span>
                                } @else {
                                  <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} (en menos de {{
                                    plan_feat.weekly_limit/24 }} días)</span>
                                }
                              } @else if (plan_feat.monthly_limit > 0) {
                                <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} ({{ plan_feat.monthly_limit }} por
                                  mes)</span>
                              } @else if (!plan_feat.feat_available) {
                                <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} (no disponible)</span>
                              } @else {
                                <span class="f-s-14 f-w-500"> {{ plan_feat.feature.description }} (sin límite)</span>
                              }
                            </div>
                          </div>
                        }
                      </mat-expansion-panel>
                    </div>
                  </div>

                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block m-t-24">Cambiar a otro plan</mat-label>
                  <mat-form-field appearance="outline" class="w-100" color="primary">
                    <mat-select placeholder="Selecciona un plan" [value]="selectedPlanCode()"
                      (selectionChange)="onPlanSelected($event.value)">
                      @for (plan of availablePlans(); track plan.id) {
                        @if (plan.code !== activePlan.code) {
                          <mat-option [value]="plan.code">{{ plan.description }}</mat-option>
                        }
                      }
                    </mat-select>
                  </mat-form-field>

                  <div class="m-t-24">
                    <button mat-flat-button color="primary" [disabled]="!selectedPlanCode()"
                      (click)="changePlan()">Cambiar plan</button>
                    <button mat-stroked-button class="m-l-8" color="warn"
                      [disabled]="activePlan.code === 'BRONZE'" (click)="resetPlan()">
                      Resetear plan
                    </button>
                  </div>
                </mat-card-content>
              }
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler name="lock" class="icon-20 m-r-8 d-flex"></i-tabler>
          </mat-icon>
        </div>
        {{ 'ACCOUNT.TABS.SECURITY' | translate }}
      </ng-template>
      <mat-card-content class="p-y-24">
        <div class="row">
          <div class="col-lg-8">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>{{ 'ACCOUNT.SECURITY.TWO_FACTOR_TITLE' | translate }}</mat-card-title>
                <div class="d-flex align-items-center p-b-30">
                  <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.SECURITY.TWO_FACTOR_SUBTITLE' | translate }}</mat-card-subtitle>
                  @if (twoFactorEnabled()) {
                    <button mat-stroked-button color="warn" class="m-l-auto" [disabled]="togglingTwoFactor()" (click)="toggleTwoFactor(false)">
                      {{ 'ACCOUNT.SECURITY.DISABLE' | translate }}
                    </button>
                  } @else {
                    <button mat-flat-button color="primary" class="m-l-auto" [disabled]="togglingTwoFactor()" (click)="toggleTwoFactor(true)">
                      {{ 'ACCOUNT.SECURITY.ENABLE' | translate }}
                    </button>
                  }
                </div>
                <mat-divider></mat-divider>
                <div class="d-flex align-items-center p-y-24">
                  <div>
                    <h5 class="f-s-16 f-w-600 m-0">{{ 'ACCOUNT.SECURITY.SMS_RECOVERY_TITLE' | translate }}</h5>
                    <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.SECURITY.SMS_RECOVERY_SUBTITLE' | translate }}</mat-card-subtitle>
                  </div>

                  <mat-chip class="m-l-auto m-r-8">{{ 'ACCOUNT.SECURITY.COMING_SOON' | translate }}</mat-chip>
                  <button mat-stroked-button color="primary" disabled>
                    {{ 'ACCOUNT.SECURITY.SETUP' | translate }}
                  </button>
                </div>
                <mat-divider></mat-divider>
              </mat-card-content>
            </mat-card>
          </div>
          <div class="col-lg-4">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <button mat-mini-fab class="bg-light-primary shadow-none rounded icon-48">
                  <i-tabler name="device-laptop" class="icon-22 d-flex text-primary"></i-tabler>
                </button>
                <mat-card-title class="m-t-16">{{ 'ACCOUNT.SECURITY.DEVICES_TITLE' | translate }}</mat-card-title>
                <mat-card-subtitle class="f-s-14">{{ 'ACCOUNT.SECURITY.DEVICES_SUBTITLE' | translate }}</mat-card-subtitle>
                <button mat-flat-button color="primary" class="m-t-24" [disabled]="sessions().length < 2" (click)="revokeOtherSessions()">
                  {{ 'ACCOUNT.SECURITY.SIGN_OUT_ALL' | translate }}
                </button>

                @for (session of sessions(); track session.familyId) {
                  <div class="d-flex align-items-center p-y-24 b-b-1">
                    <span>
                      <i-tabler [name]="session.userAgent && session.userAgent.toLowerCase().includes('mobile') ? 'device-mobile' : 'device-laptop'" class="icon-22"></i-tabler>
                    </span>
                    <div class="m-l-16">
                      <mat-card-title class="m-b-0 f-s-14">
                        {{ session.userAgent || 'Unknown device' }}
                        @if (session.isCurrent) {
                          <span class="f-s-12 text-primary"> · {{ 'ACCOUNT.SECURITY.CURRENT_DEVICE' | translate }}</span>
                        }
                      </mat-card-title>
                      <mat-card-subtitle class="f-s-14">{{ session.ip }} · {{ session.lastUsedAt | date:'short' }}
                      </mat-card-subtitle>
                    </div>
                    @if (!session.isCurrent) {
                      <button mat-icon-button class="m-l-auto" (click)="revokeSession(session.familyId)">
                        <mat-icon>close</mat-icon>
                      </button>
                    }
                  </div>
                }
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>