<div class="p-b-30">
  <div>
    <div class="row">
      <div class="col-lg-8 col-sm-6">
        <h4 class="page-title m-b-4 f-s-18 f-w-500">
          {{ pageInfo?.['title'] }}
        </h4>
        @if (breadcrumbs$ | async; as breadcrumbs) {
        <div class="d-flex align-items-center overflow-hidden justify-content-start list-style-none">
          <ul class="breadcrumb">
            @for (breadcrumb of breadcrumbs;  track breadcrumb.url;let index =
              $index,last = $last ) {
            <li class="breadcrumb-item">

              @if ($last) {
              <span class="breadcrumb-current-page text-primary active f-s-14">
                {{ breadcrumb.title }}
              </span> 
              }

              @if (!$last && breadcrumb.url) {
              <ng-container>
                <a [routerLink]="breadcrumb.url" class="breadcrumb-link">
                  {{ breadcrumb.title }}
                </a>
                <span class="m-x-10"> > </span>
              </ng-container>
              }

              @if (!$last && !breadcrumb.url) {
              <ng-container>
                {{ breadcrumb.title }}
                <span class="m-x-10"> > </span>
              </ng-container>
              }
            </li>
            }
          </ul>
        </div>
        }
      </div>
      <div
        class="col-lg-4 col-sm-6 text-right position-relative align-items-center justify-content-end gap-20 d-none d-sm-flex">
        <a class="readiness-badge readiness-{{ readinessStatus }}"
          [routerLink]="course?.id ? ['/student', 'courses', course!.id, 'dashboard', 'basic'] : null"
          [class.readiness-disabled]="!course?.id" [title]="readinessDetail">
          <span class="readiness-dot"></span>
          <div class="text-left">
            <span class="f-s-12">¿Listo?</span>
            <h6 class="m-0 f-s-14 f-w-600">{{ readinessLabel }}</h6>
          </div>
        </a>

        @if ((activePlan$ | async)?.code === Planes.BRONZE) {
        <button type="button" class="upgrade-plan-btn" (click)="goToPricing()">
          <i-tabler class="icon-16" name="sparkles"></i-tabler>
          Upgrade
        </button>
        }
      </div>
    </div>
  </div>
</div>